@import "./components/Navbar";
@import "./components/Home";
@import "./components/NextWeek";
@import "./components/CurrentWeather";
@import "./components/Favourite";

@font-face {
  font-family: "segoe UI";
  src: url("../fonts/Segoe\ UI.ttf");
}

@font-face {
  font-family: "League Spartan";
  src: url("../fonts/LeagueSpartan-Regular.otf");
}

html {
  font-family: "League Spartan";
  font-weight: 200;
  font-size: 10px;
  line-height: 1.3;
  height: 100vh;
}
* {
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.error {
  margin-top: 50px;
}
