.newWeek {
  width: 600px;
  @media screen and (max-width: 900px) {
    width: 400px;
  }
}

.details {
  padding-bottom: 40px;
  padding-top: 40px;
  width: 600px;
  height: 250px;
  border-radius: 0.3rem;
  :nth-child(2) {
    font-size: 5rem;
  }
  @media screen and (max-width: 900px) {
    width: 400px;
  }
}

.changeUnits {
  background-color: rgba(255, 255, 255, 0.6);
  font-size: 1.7rem;
  padding: 10px;
  background-color: rgb(43, 122, 187);
  border: none;
  border-radius: 0.3rem;
  color: white;
  cursor: pointer;
  &:hover {
    background-color: rgb(31, 88, 134);
  }
}
