.weatherMain {
  margin: 0 auto;
  width: 80%;
  margin-bottom: 20px;
  height: 71vh;
  border-radius: 0.1rem;
}

.details {
  max-width: 400px;
  position: relative;
  margin: 20px auto;
  .cityDetails {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    :nth-child(2) {
      font-size: 8rem;
    }
    @media screen and (max-width: 499px) {
      height: 250px;
      font-size: 2.5rem;
      justify-content: space-evenly;
      :nth-child(2) {
        font-size: 6rem;
      }
      :nth-child(3) {
        margin-bottom: 30px;
      }
    }
  }
  @media screen and (max-width: 499px) {
    margin: 0 auto;
  }
}

.favIcon {
  right: 15px;
  top: 10px;
  position: absolute;
  cursor: pointer;
}
