.favouriteHome {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1312px;
  margin: 50px auto;
}

.favouriteDetails {
  margin: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 4rem;
  width: 400px;
  height: 265px;
  border-radius: 0.1rem;
  color: white;
  background-color: #2b7abb;
  border: 1px solid #1f5988;
  z-index: 5;
  
  @media screen and (max-width: 499px) {
    margin: 0px 20px;
    width: 300px;
    height: 215px;
  }

  .favouriteIcon {
    margin-top: 15px;
    z-index: 100;
  }

  &:hover {
    background-color: #1f5988;
    border: 1px solid white;
  }

  .favourite {
    display: flex;
    flex-direction: column;
    font-size: 3rem;
    height: 200px;
    justify-content: space-evenly;
    z-index: 10;
  }
}

.noFavourite {
  margin-top: 50px;
  font-size: 3rem;
}
