body {
  text-align: center;
  background-image: url("/./images/sky.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  background-size: cover;
  background-attachment: fixed;
}

.home {
  margin: 0 auto;
}

.searchArea {
  display: flex;
  margin: 20px 15px;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
}

.searchInfo {
  display: flex;
  position: relative;
  input {
    font-size: 2rem;
    outline: none;
    border-bottom: 2px solid rgb(43, 122, 187);
    padding: 1rem 3.5rem 1rem 1rem;
    width: 350px;
    background-color: rgb(43, 122, 187) !important;
    border: none;
    &::placeholder {
      color: white;
    }
  }
  .searchIcon {
    display: grid;
    position: absolute;
    right: 10px;
    top: 6px;
    cursor: pointer;
    color: rgb(68, 68, 68);
  }
}

.forecastDetails {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  align-items: center;
  margin: 0 auto;
  font-size: 3rem;
  color: rgb(68, 68, 68);
}
