.navbar {
  position: sticky;
  font-family: "segoe UI";
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  height: 70px;
  top: 0;
  width: 100%;
  background-color: rgb(29, 101, 160);
  z-index: 800;
  transition: all 0.4s ease;
  font-size: 26px;
  letter-spacing: 1.6px;
  a {
    z-index: 850;
    color: white;
  }
  .appName {
    margin-bottom: 2px;
    @media screen and (max-width: 499px) {
      font-size: 1.8rem;
      margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1300px) {
    padding: 0 16rem;
  }
  @media screen and (min-width: 1500px) {
    padding: 0 20rem;
  }
}

.changeUnits2 {
  cursor: pointer;
  display: none;
  z-index: 2;

  @media screen and (max-width: 820px) {
    display: block;
    margin-top: 14px;
    z-index: 920;
  }
  svg {
    width: 51px;
    height: 55px;
  }
}

.navbar-items > .activated {
  background-color: rgb(31, 88, 134);
}

.navbar-items {
  display: flex;
  position: relative;
  list-style: none;
  align-items: center;
  height: 70px;

  .changeText {
    font-size: 1.6rem;
    @media screen and (max-width: 955px) {
      display: none;
    }
  }
  .arrow {
    margin: 2px -10px 0 2px;
    @media screen and (max-width: 955px) {
      display: none;
    }
  }

  .changeUnits {
    cursor: pointer;
    position: relative;
    margin-top: 13px;
    margin-right: 15px;
    svg {
      width: 51px;
      height: 55px;
    }
    @media screen and (max-width: 820px) {
      display: none;
    }
  }

  @media screen and (max-width: 820px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 25vh;
    width: 100%;
    position: absolute;
    right: 0px;
    top: -50vh;
    opacity: 1;
    transition: all 0.4s ease;
  }

  a {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding-right: 4rem;
    padding-left: 4rem;
    width: 200px;
    position: relative;
    cursor: pointer;
    height: 100%;

    &:hover {
      transition: all 0.3s ease;
      background-color: rgb(31, 88, 134);
    }
    font-size: 22px;
    letter-spacing: 1.6px;
    transition: all 0.3s ease;
  }
}

.navbar-items.active {
  transition: all 0.3s ease;
  z-index: 750;

  a {
    display: flex;
    justify-content: center;
  }
  @media screen and (max-width: 820px) {
    background-color: rgb(43, 122, 187);
    top: 70px;
  }
}

.burger-icon {
  display: none;
  z-index: 2;
  color: white;

  @media screen and (max-width: 820px) {
    display: block;
    margin-top: 9px;
    cursor: pointer;
    z-index: 920;
  }
}
